src/Node-Red/node-red.json
[{"id":"f7e5c58d.081a38","type":"twilio-api","sid":"AC66e610f7cf86f234d5aea0b553f977ba","from":"+19802014865","name":"Meesage"},{"id":"345e14f4.de6094","type":"ibmiot","name":"test"},{"id":"2ec1e544.d13e1a","type":"ibmiot in","authentication":"boundService","apiKey":"345e14f4.de6094","inputType":"evt","deviceId":"","applicationId":"","deviceType":"MQTTDevice","eventType":"eid","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","x":76.5,"y":531.1428842544556,"z":"37d16157.c82e9e","wires":[["e3aa5b2e.1c55a8","ef5529dd.10aad8"]]},{"id":"ef5529dd.10aad8","type":"debug","name":"Simple Debug","active":false,"console":"false","complete":"true","x":274,"y":376.14288425445557,"z":"37d16157.c82e9e","wires":[]},{"id":"8c5a2704.73a5d8","type":"function","name":"Pulse Filter","func":"return {payload:msg.payload.d.pulse};","outputs":1,"valid":true,"x":596,"y":552.1428842544556,"z":"37d16157.c82e9e","wires":[["13e7a930.ec1857"]]},{"id":"13e7a930.ec1857","type":"switch","name":"Pulse Warning","property":"payload","rules":[{"t":"lte","v":"95"},{"t":"gt","v":"95"}],"checkall":"true","outputs":2,"x":788,"y":553.1428842544556,"z":"37d16157.c82e9e","wires":[["d4bb9f30.2b446"],["8fd3aa20.702c58"]]},{"id":"d4bb9f30.2b446","type":"template","name":"Safe","field":"payload","format":"handlebars","template":"Pulse ({{payload}}) within safe limits!","x":987,"y":525.1428842544556,"z":"37d16157.c82e9e","wires":[["b93020ec.46cfe"]]},{"id":"8fd3aa20.702c58","type":"template","name":"Warning","field":"payload","format":"handlebars","template":"Pulse ({{payload}}) is too high!","x":985,"y":585.1428842544556,"z":"37d16157.c82e9e","wires":[["b93020ec.46cfe"]]},{"id":"b93020ec.46cfe","type":"debug","name":"Pulse Messaging","active":false,"console":"true","complete":"payload","x":1174,"y":548.1428842544556,"z":"37d16157.c82e9e","wires":[]},{"id":"d99a5ec5.2665a","type":"mongodb out","service":"acMongoDB","mongodb":"","name":"MongoDB Live Out","collection":"patientlive","payonly":true,"upsert":true,"multi":false,"operation":"store","x":837,"y":786.1428842544556,"z":"37d16157.c82e9e","wires":[]},{"id":"f02c9f97.0fd36","type":"function","name":"Live Filter","func":"return {payload:{\"_id\":msg.payload.d.customID,\n \"patientID\":msg.payload.d.patientID,\n \"pulse\":msg.payload.d.pulse,\n \"systolicBP\":msg.payload.d.systolicBP,\n \"diastolicBP\":msg.payload.d.diastolicBP,\n \"temp\":msg.payload.d.temp,\n \"o2Sat\":msg.payload.d.o2Sat\n}};","outputs":1,"valid":true,"x":602,"y":696.1428842544556,"z":"37d16157.c82e9e","wires":[["488ac8c2.b77538","d99a5ec5.2665a"]]},{"id":"488ac8c2.b77538","type":"debug","name":"Live Filter Debug","active":false,"console":"false","complete":"true","x":833,"y":696.1428842544556,"z":"37d16157.c82e9e","wires":[]},{"id":"4d56c544.b2a93c","type":"switch","name":"minute switch","property":"modulus","rules":[{"t":"eq","v":"0"}],"checkall":"false","outputs":1,"x":822,"y":880.1428842544556,"z":"37d16157.c82e9e","wires":[["6cf2d57f.930d2c"]]},{"id":"c9da6d78.36259","type":"function","name":"minute modulus","func":"return {payload:msg.payload.d, modulus:(msg.payload.d.totalCount % 60)};","outputs":1,"valid":true,"x":618,"y":880.1428842544556,"z":"37d16157.c82e9e","wires":[["4d56c544.b2a93c"]]},{"id":"6cf2d57f.930d2c","type":"mongodb out","service":"acMongoDB","mongodb":"","name":"MongoDB Historical Out","collection":"patienthist","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1034,"y":879.1428842544556,"z":"37d16157.c82e9e","wires":[]},{"id":"e3aa5b2e.1c55a8","type":"switch","name":"Device/Stop Message","property":"payload.d.type","rules":[{"t":"eq","v":"device"},{"t":"eq","v":"stop"}],"checkall":"true","outputs":2,"x":295.75000762939453,"y":531.1428909301758,"z":"37d16157.c82e9e","wires":[["8a3a8065.75c58","8c5a2704.73a5d8","f02c9f97.0fd36","c9da6d78.36259"],["7f8eacdc.807154","f3f08ebf.0c0f7"]]},{"id":"8a3a8065.75c58","type":"debug","name":"type filter debug","active":false,"console":"false","complete":"payload","x":588,"y":413.14288330078125,"z":"37d16157.c82e9e","wires":[]},{"id":"7f8eacdc.807154","type":"debug","name":"type stop debug","active":false,"console":"false","complete":"payload","x":587,"y":455.14288330078125,"z":"37d16157.c82e9e","wires":[]},{"id":"d5a130b1.2a5ed","type":"mongodb out","service":"acMongoDB","mongodb":"","name":"MongoDB Live Remove","collection":"patientlive","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":888,"y":1094.1428842544556,"z":"37d16157.c82e9e","wires":[]},{"id":"f3f08ebf.0c0f7","type":"function","name":"Live Filter for Remove","func":"return {payload:{\"_id\":msg.payload.d.customID}};","outputs":1,"valid":true,"x":604,"y":1001.1428842544556,"z":"37d16157.c82e9e","wires":[["abe517ce.541ae8","d5a130b1.2a5ed"]]},{"id":"abe517ce.541ae8","type":"debug","name":"Remove Filter Debug","active":false,"console":"false","complete":"true","x":873,"y":1001.1428842544556,"z":"37d16157.c82e9e","wires":[]},{"id":"a6defb47.592108","type":"http in","name":"GET /live/patient","url":"/live/patient","method":"get","x":96,"y":34,"z":"37d16157.c82e9e","wires":[["e1aa4598.1e55b8"]]},{"id":"6b3d5812.94c2a8","type":"mongodb in","service":"acMongoDB","mongodb":"","name":"MongoDB Find Live Patient Data","collection":"patientlive","operation":"find","x":702.0000076293945,"y":34,"z":"37d16157.c82e9e","wires":[["7e64e437.819b1c"]]},{"id":"f01ecd21.0fe13","type":"http response","name":"GET /live/patient Response","x":1252,"y":34,"z":"37d16157.c82e9e","wires":[]},{"id":"7e64e437.819b1c","type":"function","name":"Add Content-Type","func":"msg.headers = {\"Content-Type\": \"application/json\",\n               \"Access-Control-Allow-Origin\": \"*\",\n               \"Access-Control-Allow-Headers\": \"Origin, X-Requested-With, Content-Type, Accept\"};\nmsg.statusCode = 200;\nmsg.payload = {\"livedata\":msg.payload};\nreturn msg;","outputs":1,"valid":true,"x":992.0000076293945,"y":34,"z":"37d16157.c82e9e","wires":[["f01ecd21.0fe13","8811c1d9.77ee4"]]},{"id":"6850577.f97afa8","type":"http in","name":"GET /hist/patient","url":"/hist/patient","method":"get","x":95,"y":169.14288425445557,"z":"37d16157.c82e9e","wires":[["85cce41.f7a3318","30cd1857.cf32e8"]]},{"id":"2b5b4eb5.d4a4b2","type":"mongodb in","service":"acMongoDB","mongodb":"","name":"MongoDB Find Hist Patient Data","collection":"patienthist","operation":"find","x":691.7500076293945,"y":169.3928861618042,"z":"37d16157.c82e9e","wires":[["84e51b52.7b1ae8"]]},{"id":"84e51b52.7b1ae8","type":"function","name":"Add Content-Type","func":"msg.headers = {\"Content-Type\": \"application/json\",\n               \"Access-Control-Allow-Origin\": \"*\",\n               \"Access-Control-Allow-Headers\": \"Origin, X-Requested-With, Content-Type, Accept\"};\nmsg.statusCode = 200;\nmsg.payload = {\"histdata\":msg.payload};\nreturn msg;","outputs":1,"valid":true,"x":984.7500076293945,"y":169.3928861618042,"z":"37d16157.c82e9e","wires":[["c4538108.3bac8"]]},{"id":"c4538108.3bac8","type":"http response","name":"GET /hist/patient Response","x":1251.7500076293945,"y":169.3928861618042,"z":"37d16157.c82e9e","wires":[]},{"id":"30cd1857.cf32e8","type":"function","name":"Pre-Query Processing","func":"msg.headers = {\"Access-Control-Allow-Origin\": \"*\",\n               \"Access-Control-Allow-Headers\": \"Origin, X-Requested-With, Content-Type, Accept\"};\n\nvar limitDate = new Date();\nlimitDate.setHours(limitDate.getHours() - msg.payload.time - msg.payload.offset);\n\nvar dateString = \"\" + limitDate.getFullYear() + \"-\";\nif (limitDate.getMonth() < 9) {\n    dateString = dateString + \"0\" + (limitDate.getMonth() + 1) + \"-\";\n} else {\n    dateString = dateString + (limitDate.getMonth() + 1) + \"-\";\n}\nif (limitDate.getDate() < 10) {\n    dateString = dateString + \"0\" + limitDate.getDate() + \" \";\n} else {\n    dateString = dateString + limitDate.getDate() + \" \";\n}\nif (limitDate.getHours() < 10) {\n    dateString = dateString + \"0\" + limitDate.getHours() + \":\";\n} else {\n    dateString = dateString + limitDate.getHours() + \":\";\n}\nif (limitDate.getMinutes() < 10) {\n    dateString = dateString + \"0\" + limitDate.getMinutes() + \":\";\n} else {\n    dateString = dateString + limitDate.getMinutes() + \":\";\n}\nif (limitDate.getSeconds() < 10) {\n    dateString = dateString + \"0\" + limitDate.getSeconds();\n} else {\n    dateString = dateString + limitDate.getSeconds();\n}\n\nmsg.payload = {\"patientID\":msg.payload.patientID,\n \"time\":{\"$gte\":dateString}};\nmsg.sort = {\"time\":-1};\n\nreturn msg;","outputs":1,"valid":true,"x":373.61114501953125,"y":169.6984405517578,"z":"37d16157.c82e9e","wires":[["2b5b4eb5.d4a4b2","cde6b44b.321948"]]},{"id":"85cce41.f7a3318","type":"debug","name":"GET Dump","active":false,"console":"false","complete":"true","x":338.1666564941406,"y":219.75399780273438,"z":"37d16157.c82e9e","wires":[]},{"id":"cde6b44b.321948","type":"debug","name":"Query Filter Debug","active":false,"console":"false","complete":"true","x":650.75,"y":220.89288330078125,"z":"37d16157.c82e9e","wires":[]},{"id":"e1aa4598.1e55b8","type":"function","name":"Pre-Query Processing","func":"msg.headers = {\"Access-Control-Allow-Origin\": \"*\",\n               \"Access-Control-Allow-Headers\": \"Origin, X-Requested-With, Content-Type, Accept\"};\nmsg.sort = {\"patientID\": 1};\nreturn msg;","outputs":1,"valid":true,"x":378.2857360839844,"y":34.14285659790039,"z":"37d16157.c82e9e","wires":[["6b3d5812.94c2a8","93366d88.6cc99"]]},{"id":"93366d88.6cc99","type":"debug","name":"Query Filter Debug","active":false,"console":"false","complete":"true","x":659,"y":83,"z":"37d16157.c82e9e","wires":[]},{"id":"8811c1d9.77ee4","type":"debug","name":"Debug Message","active":true,"console":"false","complete":"true","x":1218,"y":82,"z":"37d16157.c82e9e","wires":[]},{"id":"aa9fff40.556","type":"twilio out","service":"_ext_","twilio":"f7e5c58d.081a38","from":"","number":"+19802137867","name":"message","x":1162,"y":623,"z":"37d16157.c82e9e","wires":[]}]